<%= bootstrap_form_for(@poem,
  style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>

  <%= f.text_field :title %>
  <%= f.text_area :poem_content %>

  <div class='date-select'>
    <%= f.date_select :date_stamp, {}, label: 'Date'  %>
  </div>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>

<br>
<br>
